body {
  font-family: "Hiragino Kaku Gothic ProN", "ヒラギノ角ゴ ProN W3", "メイリオ", Meiryo, "ＭＳ Ｐゴシック", "MS PGothic", sans-serif;
}

/* block内にborderとpaddingを含めてレスポンシブレイアウト対応にする */

*, *:before, *:after {
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}
/* css main が　ieの場合inlineになるためdisplay block指定  */
main {
    display: block;
}


p {
    font-size: 18px;
}
