/* block内にborderとpaddingを含めてレスポンシブレイアウト対応にする */

*, *:before, *:after {
  box-sizing: border-box;
}
/* css main が　ieの場合inlineになるためdisplay block指定  */
main {
    display: block;
}

p {
    font-size: 18px;
}
